.topbar-tel{
font-family: Montserrat-Regular;
font-size: 15px;
}
.topbar-social:hover{
	color: red;
}
.side-menu .main-menu > li > a:hover{
	background-color: green;
}
.block2-img{
	height: 350px;
		background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
.block2-labelnew{
	background-image: url(../images/1.png);
}
.block2-labelnew2{
	background-image: url(../images/2.jpg);
}
.block2-labelnew3{
	background-image: url(../images/3.png);
}
.block2-labelnew4{
	background-image: url(../images/4.jpg);
}
.block2-labelnew5{
	background-image: url(../images/5.jpg);
}
.block2-labelnew6{
	background-image: url(../images/6.jpg);
}
.block2-labelnew7{
	background-image: url(../images/7.jpg);
}
.block2-labelnew8{
	background-image: url(../images/8.png);
}

.block2-txt{
	text-align: center;
}
.block2-txt a{
	width: 60%;
	margin-left: 20%;
	margin-top: 5%;
}
.block2-overlay{
	cursor: pointer;
}
.container-menu-header-v2{
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
